@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #131214;
    --accent-color: #2b2b2b;
    --secondary-color: rgba(15, 85, 216, 0.1);
    --text-color: rgb(243, 243, 243);
    --text-faded: rgba(211, 211, 211, 0.2);
    --logo-color: rgb(15, 85, 216);
    --input-bg-color: rgba(175, 175, 175, 0.1);
    --button-hover: rgba(15, 85, 216, 0.8);
    --disabled: rgba(114, 114, 114, 0.2);
    --border-disabled: rgba(189, 189, 189, 0.2);
    --alert-color: rgb(175, 0, 0);
    --alert-border-color: rgb(255, 88, 88);
}

/* Defaults */
* {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 20px;
    margin: 0;
}

/* Container */
.container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Border to group elements */
.border {
    border: thin solid var(--border-disabled);
    border-radius: 8px;
    padding: 20px;
    width: clamp(20ch, 15%, 25%);
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    font-weight: 600;
    margin: 5px 0px;
}

h3 {
    padding-bottom: 5px;
}

/* Icons */
.fa-trash-can {
    font-size: 16px;
}

.fa-bars,
.fa-xmark {
    font-size: 30px;
}

label, 
.fa-bars,
.fa-angle-up,
.fa-angle-down,
.fa-trash-can,
.fa-xmark,
.fa-arrow-up {
    background: none;
}

/* Navbar */
/* Based on -> https://www.youtube.com/watch?v=8eFeIFKAKHw */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.5rem;
    margin-bottom: 20px;
    background-color: var(--accent-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav-links {
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    background: none;
    align-items: center;
    flex-direction: row;
}

.navbar a {
    display: inherit;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    background: none;
}

.navbar a:hover:not(.logo, .logo-extra) {
    background-color: var(--button-hover);
    color: var(--text-color);
    /* property, duration, timing-function, delay */
    transition: all 0.3s ease 0s;
}

/* Logo */
.navbar .logo,
.navbar .logo-extra {
    color: var(--logo-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    margin-right: auto;
    background: none;
}

.navbar .logo-extra {
    display: none;
    margin: auto;
    height: 100%;
}

.open-sidebar,
.close-sidebar {
    display: none;
}

/* Budget input */
.accordion {
    display: flex;
    width: 100%;
    border-radius: 0px;
    padding: 8px 10px;
    margin: 2px 0px 0px;
    justify-content: space-between;
}

/* Color when accordion is active(open) */
.active {
    background-color: var(--logo-color);
}

/* For showing/hiding accordion inner content */
.item {
    /* display: inline-table; */
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    max-height: 0;

    /* opacity: 0; */
    transition: max-height 0.2s ease-out;
}

/* Added to divs with .created class upon pressing delete */
.deleted {
    animation: remove 0.5s ease-out;
}

@keyframes remove {
    from {
        max-height: inherit;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}

/* Add expense button styling */
.add {
    width: fit-content;
    margin: 5px 0px 3px;
}

/* Inputs */
input {
    background-color: var(--input-bg-color);
    border: none;
    border-bottom: 2px solid;
    border-color: var(--logo-color);
    margin: 0px 0px 5px 0px;
    padding: 8px 12px;
    font-size: 16px;
    outline-style: none;
    font-weight: 300;
}

input:focus {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--secondary-color);
    padding: 8px 25px;
    border: 1px solid;
    border-color: var(--logo-color);
    border-radius: 60px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: var(--button-hover);
}

/* Scroll to top button */
.scroll-top {
    display: none;
    position: fixed;
    left: 75%;
    bottom: 2%;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    background-color: var(--logo-color);
    transition: background-color 0.4s ease-out;
    z-index: 11;
}

.form-button {
    margin-top: 8px;
}

#login-form,
#password-form,
#account-form,
#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hide checkboxes */
input[type="checkbox"] {
    display: none;
}

/* Display checkboxes as "pills" */
.box {
    display: inline-block;
    padding: 8px 25px;
    margin: 2px;
    border: 1px solid;
    border-radius: 60px;
    border-color: var(--logo-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
}

.box:hover, input[type="checkbox"]:checked + .box:hover{
    background-color: var(--button-hover);
}

input[type="checkbox"]:checked + .box {
    background-color: var(--logo-color);
}

input[type="checkbox"]:disabled + .box,
input[type="checkbox"]:disabled + .box:hover {
    background-color: var(--disabled);
    border-color: var(--border-disabled);
    color: var(--text-faded);
    cursor: not-allowed;
}

/* Alerts */
.alert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.alert {
    background-color: var(--alert-color);
    margin-bottom: 0.5rem;
    border: thin solid;
    border-radius: 8px; 
    border-color: var(--alert-border-color);
    padding: 0.5rem;
    width: auto;
    margin: 0.5rem auto;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/* For accordions showing/hiding, used in script.js */
.disabled {
    display: none;
}

/* Just used for checking state of accordion item now */
/* .enabled {
    display: flex;
}
 */

/* Backdrop for when dialog window opens */
::backdrop {
    backdrop-filter: blur(5px);
}

dialog {
    border-radius: 8px;
    border-width: 2px;
    border-color: var(--logo-color);
    padding: 20px;
    margin: auto;
}

.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container for budget information and delete button */
.list {
    display: flex;
    width: clamp(25%, 45%, 55%);
    border: 1px solid var(--border-disabled);
    border-radius: 8px;
    padding: 2px;
}

/* Change style for buttons inside list */
.btn-delete {
    border: none;
    background: none;
    padding: 8px 20px;
    margin: 0 0 0 4px;
    border-radius: 0 8px 8px 0;
}

/* Style trashcan red when hovering over it */
.btn-delete:hover .fa-trash-can,
.btn-delete:hover {
    color: var(--alert-color);
    background: none;
}

/* Alternate colors for budget list */
.list:nth-child(odd) {
    background-color: var(--disabled);
}

.list:hover {
    background-color: var(--button-hover);
}

/* Container for budget information */
.list-item {
    flex: 1;
    background: none;
    width: 80%;
}

/* Make link easier to click by filling it out more, move datetime to end */
.list-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0 6px 15px;
    text-decoration: none;
    background: none;
}

/* Hide name overflow, display it as ellipsis */
.list-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    background: none;
}

.list-date {
    font-size: 12px;
    font-style: italic;
    background: none;
    margin-left: 15px;
}

/* Category form styling */
.category-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-form {
    display: inherit;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

/* Budget form styling */
.budget-container {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.budget-form {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
}

.budget-form input:not(.budget-spend) {
    margin-right: 4px;
}

/* Don't apply margin to disabled inputs */
.budget-form input[name="cost"]:disabled {
    margin: 0;
}

.budget-top {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
}

.budget-name,
.budget-spend,
.created input[name="expense"],
.created input[name="cost"] {
    display: inherit;
    flex: 1;
    /* width: clamp(2ch, 100px, 200px); */
    width: 100%;
}

.budget-name,
.budget-spend {
    padding-top: 12px;
    margin-top: 10px;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex: 1;
}

.input-wrapper label {
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 14px;
    border-radius: 8px;
    padding: 0 10px;;
    /* border: 2px solid var(--input-bg-color); */
    background: inherit;
}

.created {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

/* Result styling */
.result-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: end;
}

.result,
.remaining {
    font-weight: 600;
    border-bottom: 1px dotted var(--text-color);
    padding-bottom: 4px;
}

/* When window width reaches 980px */
@media(max-width: 980px) {

    /* Show a centered logo */
    .navbar .logo-extra {
        display: flex;
        justify-content: center;
        background: none;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;

        /* Will keep it above everything else and even if scrolling the nav will stay */
        position: fixed;
        top: 0;

        /* Hide sidebar if #sidebar-toggle isn't checked */
        right: -100%;

        z-index: 10;
        width: 50%;
        background-color: var(--accent-color);

        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3);
        transition: 0.5s ease-out;
    }

    /* Style the links, cover the whole sidebar */
    .navbar a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 20px;
    }

    /* Add some extra margin to avoid colliding with the x (to close sidebar) */
    .nav-links .logo {
        margin-top: 70px;
    }

    /* Show the hamburger menu/x */
    .open-sidebar,
    .close-sidebar {
        display: block;
        padding: 20px;
        position: absolute;
    }

    .open-sidebar:hover,
    .close-sidebar:hover {
        background-color: var(--button-hover);
        cursor: pointer;
    }

    /* Show sidebar when checked */
    #sidebar-toggle:checked ~ .nav-links {
        right: 0;
    }

    /* Cover any space not covered by the sidebar, when it's clicked close the sidebar */
    #sidebar-toggle:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;

        /* Must have a lower index than the sidebar itself */
        z-index: 9;

        backdrop-filter: blur(5px);
    }

    /* Allow budget container and form to scale wider on smaller screens */
    .budget-container,
    .category-container {
        width: 80%;
    }

    .category-form,
    .budget-form {
        width: 100%;
    }

    /* Style budget list to take up more space on smaller screens */
    .list {
        width: 95%;
        justify-content: flex-end;
    }

    .list-item {
        display: flex;
    }

    .list-item a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .list-date {
        margin: 0;
    }

    .btn-delete {
        display: flex;
        align-self: center;
        padding: 16px 20px;
    }
}