{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block body %}
    <h2>Account Info</h2>
    <div class="container border">
        <div>Username: {{ user.username }}</div>
        <div>Email: {{ user.email }}</div>
    </div>
    <h2>Change Password</h2>
    <div class="container border">
        <form id="password-form" action="/change-password" method="post">
            <input name="old" placeholder="Old password" required type="password">
            <input name="new" placeholder="New password" required type="password">
            <input name="confirm" placeholder="Confirm password" required type="password">
            <button type="submit">Save</button>
        </form>
    </div>
    <h2>Delete Account</h2>
    <div class="container border">
        <button id="delete">Delete</button>
    </div>

    <dialog id="account">
        <div class="container">
            <h2>Delete <span></span>?</h2>
            <form id="account-form" action="/delete-account" method="post">
                <input name="password" placeholder="Password" required type="password" autofocus>
                <button type="submit">Confirm</button>
            </form>
            <button type="button" id="cancel">Cancel</button>
        </div>
    </dialog>
{% endblock %}