{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Account: {{ user.username }}</h3>
        <h3>Email: {{ user.email }}</h3>
    </div>
    <div class="container">
        <form id="password-form" action="/change-password" method="post">
            <input name="old" placeholder="Old password" required type="password">
            <input name="new" placeholder="New password" required type="password">
            <input name="confirm" placeholder="Confirm password" required type="password">
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="container">
        <h1>Delete account</h1>
        <button id="delete">Delete</button>
    </div>

    <dialog id="account">
        <div>
            <h1>Delete <span></span>?</h1>
            <form id="account-form" action="/delete-account" method="post">
                <input name="password" placeholder="Password" required type="password" autofocus>
                <button type="submit">Confirm</button>
            </form>
            <button type="button" id="cancel">Cancel</button>
        </div>
    </dialog>
{% endblock %}