{% extends "layout.html" %}

{% block title %}
    Budget
{% endblock %}

{% block body %}
    <div class="category-container" id="category-form">
        <h2>Categories</h2>
        <form class="category-form border">
            {% for category in categories %}
                {% if category in json.categories %}
                    <input class="checkbox-filter" type="checkbox" name="{{ category }}" id="{{ category }}" checked disabled>
                {% else %}
                    <input class="checkbox-filter" type="checkbox" name="{{ category }}" id="{{ category }}" disabled>
                {% endif %}
                <label class="box" for="{{ category }}">{{ category }}</label>
            {% endfor %}
        </form>
    </div>
    <div class="budget-container" id="budget-form">
        <h2>Budget</h2>
        <form class="budget-form border">
            <div class="budget-top">
                <input class="budget-name" autocomplete="off" name="name" placeholder="Budget name..." type="text" value="{{ json.info.name }}" disabled>
                <input class="budget-spend" autocomplete="off" name="budget" placeholder="To spend (optional)" type="number" min="0.01" step="0.01" value="{{ json.info.total }}" disabled>
                <input name="id" value="{{ json.info.id }}" hidden>
            </div>
            <!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-globals.namespace -->
            {% set count = namespace(value=0) %}
            {% for category in categories %}
                {% if category in json.categories %}
                    <button class="accordion active" type="button" id="{{ category }}">{{ category }}<i class="fa-solid fa-angle-up"></i></button>
                    <div class="item enabled" id="{{ category }}">
                        <button type="button" class="add disabled" id="{{ category }}">Add Expense</button>
                        {% for note, cost in json.categories[category].items() %}
                            <div id="{{ count.value }}" class="created" data-category="{{ category }}">
                                <input id="{{ count.value }}" type="text" name="expense" placeholder="Expense" value="{{ note }}" data-category="{{ category }}" disabled>
                                <input id="{{ count.value }}" type="number" name="cost" placeholder="Cost" step="0.01" min="0.01" value="{{ cost }}" data-category="{{ category }}" disabled>
                                <button class="delete disabled" type="button"><i class="fa-regular fa-trash-can"></i></button>
                            </div>
                            {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </div>
                {% else %}
                    <button class="accordion active disabled" type="button" id="{{ category }}">{{ category }}<i class="fa-solid fa-angle-up"></i></button>
                    <div class="item disabled" id="{{ category }}">
                        <button type="button" class="add disabled">Add Expense</button>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="result-container">
                <label class="result">Result: <span id="result">{{ json.info.result }}</span></label>
            </div>
            <button id="edit" type="button">Edit</button>
            <button type="submit" id="/update">Save</button>
            <!-- {{ json.info.id }} -->
        </form>
    </div>
{% endblock %}