{% extends "layout.html" %}

{% block title %}
    Budget
{% endblock %}

{% block body %}
    <div class="container" id="category-form">
        <form class="category-form">
            {% for category in categories %}
                {% if category in json.categories %}
                    <input type="checkbox" name="{{ category }}" id="{{ category }}" checked disabled>
                {% else %}
                    <input type="checkbox" name="{{ category }}" id="{{ category }}" disabled>
                {% endif %}
                <label for="{{ category }}">{{ category }}</label>
            {% endfor %}
        </form>
    </div>
    <div class="container" id="budget-form">
        <form class="budget-form">
            <input autocomplete="off" name="name" placeholder="Budget name..." type="text" value="{{ json.info.name }}" disabled>
            <input autocomplete="off" name="budget" placeholder="To spend (optional)" type="number" min="0.01" step="0.01" value="{{ json.info.total }}" disabled>
            <!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#jinja-globals.namespace -->
            {% set count = namespace(value=0) %}
            {% for category in categories %}
                {% if category in json.categories %}
                    <button class="accordion active" type="button" id="{{ category }}">{{ category }}<i class="material-icons md-20">expand_less</i></button>
                    <div class="item enabled" id="{{ category }}">
                        <button type="button" class="add disabled" id="{{ category }}">Add Expense</button>
                        {% for note, cost in json.categories[category].items() %}
                            <div id="{{ count.value }}" class="created" data-category="{{ category }}">
                                <input id="{{ count.value }}" type="text" name="expense" placeholder="Expense" value="{{ note }}" disabled>
                                <input type="number" name="cost" placeholder="Cost" step="0.01" min="0.01" value="{{ cost }}" disabled>
                                <button class="delete disabled" type="button">-</button>
                            </div>
                            {% set count.value = count.value + 1 %}
                        {% endfor %}
                    </div>
                {% else %}
                    <button class="accordion active disabled" type="button" id="{{ category }}">{{ category }}<i class="material-icons md-20">expand_less</i></button>
                    <div class="item disabled" id="{{ category }}">
                        <button type="button" class="add disabled">Add Expense</button>
                    </div>
                {% endif %}
            {% endfor %}
            <label class="result">Result: <span id="result">{{ json.info.result }}</span></label>
            <button id="edit" type="button">Edit</button>
            <button type="submit" id="/update" disabled>Save</button>
            {{ json.info.id }}
        </form>
    </div>
{% endblock %}

<!-- data-accordion-category="{{ category }}" -->