{% extends "layout.html" %}

{% block title %}Create{% endblock %}

{% block body %}
    <div class="container" id="budget-form">
        <form class="budget-form">
            <input autocomplete="off" name="name" placeholder="Budget name..." type="text">
            <input autocomplete="off" name="budget" placeholder="To spend (optional)" type="number" min="0.01" step="0.01">
            {% for category in categories %}
                <button class="accordion" type="button">{{ category }}<i class="material-icons md-20">expand_more</i></button>
                <div class="item" id="{{ category }}">
                    <button type="button" class="add" id="{{ category }}">Add Expense</button>
                </div>
            {% endfor %}
            <label class="result">Result: <span id="result">0</span></label>
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}
