{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}
    <form action="/delete" method="post" id="form-delete"></form>

    <h2>Budgets</h2>
    {% for budget in budgets %}
        <div class="list">
            <div class="list-item">
                <a href="{{ url_for('budget', id=budget.id ) }}" data-date-time="{{ budget.timestamp.strftime('%Y-%m-%d, %H:%M') }}">
                    <div class="list-name">{{ budget.name }}</div>
                    <div class="list-date">{{ budget.timestamp.strftime('%Y-%m-%d, %H:%M') }}</div>
                </a>
            </div>
            <button class="btn-delete" id="delete" data-budget-id="{{ budget.id }}" data-budget-name="{{ budget.name }}"><i class="fa-regular fa-trash-can"></i></button>
        </div>
    {% endfor %}
    
    <dialog id="budgets">
        <div class="dialog-container">
            <h3>Delete: <span id="budget-name"></span>?</h3>
            <form id="delete-budget" action="/delete" method="post">
                <input name="id" id="modal-input" hidden>
                <button type="submit" autofocus>Confirm</button>
            </form>
            <button type="button" id="cancel">Cancel</button>
        </div>
    </dialog>
{% endblock %}