<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/styles.css" rel="stylesheet">
        <script type="module" src="/static/script.js"></script>
        <script src="https://kit.fontawesome.com/bd321f6b9e.js" crossorigin="anonymous"></script>

        <title>Budget - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <a class="logo-extra" href="{{ url_for('index') }}">Budget</a>
            <input type="checkbox" id="sidebar-toggle">
            <label for="sidebar-toggle" class="open-sidebar"><i class="fa-solid fa-bars"></i></label>
            
            <label id="overlay" for="sidebar-toggle"></label>
            <div class="nav-links">
                <label for="sidebar-toggle" class="close-sidebar"><i class="fa-solid fa-xmark"></i></label>
                <a class="logo" href="{{ url_for('index') }}">Budget</a>
                {% if session["user_id"] %}
                    <a href="{{ url_for('create') }}">Create</a>
                    <a href="{{ url_for('account') }}">Account</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Log in</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <div class="alert-container">
                <div class="alert" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </div>
        {% endif %}

        <main class="container">
            <button class="scroll-top" type="button"><i class="fa-solid fa-arrow-up"></i></button>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>