{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div>
        <h2>Sign In</h2>
    </div>    
    <div class="border">
        <form id="login-form" action="{{ url_for('login') }}" method="post">
            <div>
                <input autocomplete="off" autofocus name="username" placeholder="Username / Email" type="text">
            </div>
            <div>
                <input autocomplete="off" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}